<h1>Patient's</h1>
<table>
	<thead>
		<tr>			
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th colspan="3">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @patients.each do |patient|%>
		<tr>
			<td><%= patient.name%></td>
			<td><%= patient.age%></td>
			<td><%= patient.gender%></td>
         <td><%=link_to 'View',patient%></td>
         <td><%=link_to 'Edit',patient%></td>
         <td><%= link_to "Delete", patient, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
		</tr>
		<%end%>
	</tbody>
</table>