<h1>Patient's</h1>
<%= form_with model: @patient do |form|%>
  <%if @patient.errors.any?%>
    <%@patient.errors.full_messages.each do |message|%>
      <p><%=message%></p>
    <%end%>
  <%end%>  
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name%><br>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age%><br>
  </div>

  <div>
    <%= form.label :gender%><br>
    <%= form.select :gender,["male","female","other"] %><br>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: @user_id %>
  </div>

  <div>
    <%=form.submit%>
  </div>
  
<%end%>