<h2>Doctor's Appointments</h2 >
<div class="col-lg-10">  
  <table class="table table-bordered  table-striped table-hover ">
    <thead>
      <tr>
        <th>patient name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th colspan="4" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @appointments.present? %>
          <% @appointments.each do |appointment|%>
          <td><%= appointment.patient.name%></td>
          <td><%= appointment.date%></td>
          <td><%= appointment.time.strftime("%I:%M %p")%></td>
          <td><%= appointment.status %></td>
          <td><%=link_to 'View', patient_path(appointment.patient_id)%></td>
          <td><%=link_to 'complete', appointment_status_update_path(appointment, appointment: {status: 'complete' , id: appointment.id} ), method: :put,class: "btn btn-primary "%></td> 
          <td><%=link_to 'cancle', appointment_status_update_path(appointment, appointment: {status: 'cancle', id: appointment.id}), method: :put,class: "btn btn-primary " %></td>
      </tr>
          <%end%>
        <% else %>
          <td colspan="5"><%= @app_no_records %></td>
        <% end %>
    </tbody>
  </table>
</div>
