<h1>Doctor's</h1>
<%=link_to 'New Doctor', new_doctor_path%>
<table>
	<thead>
		<tr>
			
			<th>Name</th>
			<th>Specialization</th>
			<th>Fees</th>
			<!-- <th>Date</th> -->
			<th>Start Time</th>
			<th>End Time</th>
			<th colspan="3">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @doctors.each do |doctor|%>
		<tr>

			<td><%= doctor.name%></td>
			<td><%= doctor.specialization%></td>
			<td><%= doctor.fees%></td>

			<td><%= doctor.start_time%></td>
			<td><%= doctor.end_time%></td>
			<td><%=link_to 'View',doctor%></td>
			
		</tr>
		<%end%>
	</tbody>
</table>