<h1>Doctor Detail</h1>
<p><strong>Name : </strong><%=@doctor.name%></p>
<p><strong>Specialization : </strong><%=@doctor.specialization%></p>
<p><strong>Fees : </strong><%=@doctor.fees%></p>
<p><strong>Start Time : </strong><%=@doctor.start_time%></p>
<p><strong>End Time : </strong><%=@doctor.end_time%></p>
<%=link_to 'Back',doctors_path%>